.metadata
/153-TP_Calculadora_Cientifica/Scientific_Calculator/nbproject/private/
/153-TP_Calculadora_Cientifica/Scientific_Calculator/dist/
/153-TP_Calculadora_Cientifica/Scientific_Calculator/build/
