.metadata
/153-TP_Calculadora_Cientifica/Scientific_Calculator/nbproject/private/
/153-TP_Calculadora_Cientifica/Scientific_Calculator/dist/
/153-TP_Calculadora_Cientifica/Scientific_Calculator/build/
/153-TP_Calculadora_Cientifica/Calculadora_Cientifica/nbproject/private/
/153-TP_Calculadora_Cientifica/Calculadora_Cientifica/build/
/153-TP_Calculadora_Cientifica/Calculadora_Cientifica/dist/
/153-TP_Calculadora_Cientifica/prueba/nbproject/private/
/153-TP_Calculadora_Cientifica/pruebas/nbproject/private/
